<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>
</head>

<body>
    <div id="wrapper">
        <div class="head">
            <div class="head-left">
                <img src="img/酷狗.png">
                <div class="login">登录</div>
                <span>|</span>
                <div class="register">注册</div>
            </div>
            <div class="head-right">
                <div class="search">
                    <input type="text">
                    <img src="img/search.png">
                </div>
                <ul class="effect">
                    <li class="peeling">
                        <img src="img/换肤.png">
                    </li>
                    <li class="set">
                        <img src="img/set.png">
                    </li>
                    <li class="min">
                        <img src="img/min.png">
                    </li>
                    <li class="close">
                        <img src="img/close.png">
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="content-left">
                <div class="music">
                    <img src="img/music.png">
                </div>
                <ul class="group">

                    <div class="group1">

                        <div class="num">12</div>
                        <div class="relate">
                            <img src="img/upload.png">
                            <img src="img/share.png">
                            <img src="img/list.png">
                        </div>
                        <img src="img/more.png"> 默认列表
                        <audio id="play1" controls="controls">
                            <source src="王欣宇 - 心愿便利贴.mp3"></source>
                        </audio>
                        <audio id="play2" controls="controls">
                            <source src="杨宗纬 - 落叶归根 (Live).mp3"></source>
                        </audio>
                        <audio id="play3" controls="controls">
                            <source src="吴亦凡 - 时间煮雨.mp3"></source>
                        </audio>
                        <audio id="play4" controls="controls">
                            <source src="赵雷 - 成都.mp3"></source>
                        </audio>


                    </div>
                    <!-- <div class="lists1">存放歌曲</div> -->
                    <!-- <div class="group2">
                <div class="num1">1</div>
                <div class="relate">
                    <img src="img/upload.png">
                    <img src="img/share.png">
                    <img src="img/list.png">
                </div>
                <img src="img/more.png" alt=""> 最近播放


            </div> -->
                    <!-- <div class="lists2">存放歌曲</div> -->

            </div>
            <div class="content-right">


                <div class="back">
                    <img src="img/back.png" alt="">
                </div>
                <div class="lyric"></div>
                <div class="adjust">
                    您用鼠标调整了歌词顺序:
                    <input class="preserve" type="radio" name="sex" checked="checked">保存调整，不再提示
                    <input class="cancel" type="radio" name="sex">取消本次调整
                    <input class="sure" type="button" value="确定">
                    <img src="img/close.png" alt="">

                </div>

            </div>
        </div>
        <div class="foot">
            <div class="contr">
                <img class="front" src="img/front.png">
                <img class="start" src="img/pause.png">
                <img class="pause" src="img/start.png" alt="">
                <img class="next" src="img/next.png">
            </div>
            <div class="process">
                <div class="infor">
                    <div class="singer">张杰谢娜</div>
                    <div class="time">00:00/00:00</div>
                </div>
                <div class="roll" style="background-color:red;">
                    <div class="contain">
                        <div class="circle"></div>

                    </div>
                    <div class="contain2"></div>
                </div>
            </div>
            <div class="menu">
                <img class="repeating" data-ng-click="0" src="img/repeat.png">
                <img class="order" data-ng-click="0" src="img/order.png">
                <img class="random" data-ng-click="0" src="img/random.png">
                <img class="volume" src="img/volumn.png">
                <div class="change">
                    <div class="maxVol">
                        <div class="circle1"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>